.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}
