/* stylelint-disable unit-allowed-list */
.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;  
  background-color: #ecc799;
  border-radius: 100%;
}

.app-header-color {
  background-color:  rgba(190,183,164,1);
}

.App-link {
  color: #61dafb;
}