.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(-225deg, #d9f3e8 0%, #50bec2 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
  margin: auto;
}

h2 {
  color: #3b3b3b;
  font-style: italic;
  font-family: Helvetica, sans-serif;
  margin: auto;
}
h4 {
  color: #3b3b3b;
  font-family: Helvetica, sans-serif;
}

p {
  color: #3b3b3b;
  font-family: Helvetica, sans-serif;
  margin: auto;
}
